name: JavaScript node-postgres integration tests

permissions: {}

on:
  push:
    branches: [ main ]
    paths:
      - 'javascript/node-postgres/**'
      - '.github/workflows/javascript-node-postgres-integ-tests.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'javascript/node-postgres/**'
      - '.github/workflows/javascript-node-postgres-integ-tests.yml'
  # Give us a button to allow running the workflow on demand for testing.
  workflow_dispatch:
    inputs:
      tags:
        description: 'Manual Workflow Run'
        required: false
        type: string

jobs:
  node-postgres-integ-test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
    concurrency:
      # Ensure only 1 job uses the workflow cluster at a time.
      group: ${{ github.workflow }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: '18.x'

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.JAVASCRIPT_IAM_ROLE }}
        aws-region: us-east-1

    - name: Configure and run integration for nodejs HowTo
      working-directory: ./javascript/node-postgres
      env:
        CLUSTER_ENDPOINT: ${{ secrets.JAVASCRIPT_NODEJS_CLUSTER_ENDPOINT }}
        REGION: ${{ secrets.JAVASCRIPT_NODEJS_CLUSTER_REGION }}
        CLUSTER_USER: 'admin'
      run: |
        npm ci
        npm test
        