name: JavaScript SDK cluster management integration tests

permissions: {}

on:
  push:
    branches: ["main"]
    paths:
      - "javascript/cluster_management/**"
      - ".github/workflows/javascript-cm-integ-tests.yml"
      - '.github/workflows/clean-clusters.yml'

  pull_request:
    branches: ["main"]
    paths:
      - "javascript/cluster_management/**"
      - ".github/workflows/javascript-cm-integ-tests.yml"
      - '.github/workflows/clean-clusters.yml'

  # Give us a button to allow running the workflow on demand for testing.
  workflow_dispatch:
    inputs:
      tags:
        description: "Manual Workflow Run"
        required: false
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
    concurrency:
      # Ensure only 1 job mutates clusters in this account at a time.
      group: ${{ github.workflow }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.JAVASCRIPT_IAM_ROLE }}
          aws-region: us-east-1

      - name: Configure and run integration for cluster management
        working-directory: ./javascript/cluster_management
        run: |
          npm install
          npm test

  cleanup:
    if: always()
    needs: test
    uses: ./.github/workflows/clean-clusters.yml
    with:
      aws_region: 'us-east-1'
    secrets:
      AWS_IAM_ROLE: ${{ secrets.JAVASCRIPT_IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
    concurrency:
      # Ensure only 1 job mutates clusters in this account at a time.
      group: ${{ github.workflow }}
