name: Java pgJDBC integration tests

permissions: {}

on:
  push:
    branches: [ main ]
    paths:
      - 'java/pgjdbc/**'
      - '.github/workflows/java-pgjdbc-integ-tests.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'java/pgjdbc/**'
      - '.github/workflows/java-pgjdbc-integ-tests.yml'
  workflow_dispatch:

jobs:
  create-cluster:
    uses: ./.github/workflows/dsql-cluster-create.yml
    with:
      workflow_name: java-pgjdbc
    secrets:
      AWS_IAM_ROLE: ${{ secrets.JAVA_IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials

  test:
    needs: create-cluster
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'corretto'
        architecture: x64
        cache: gradle

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.JAVA_IAM_ROLE }}
        aws-region: ${{ needs.create-cluster.outputs.region }}

    - name: Configure and run integration for pgjdbc - admin
      working-directory: ./java/pgjdbc
      env:
        CLUSTER_ENDPOINT: ${{ needs.create-cluster.outputs.cluster-endpoint }}
        CLUSTER_USER: admin
        REGION: ${{ needs.create-cluster.outputs.region }}
      run: ./gradlew test

  delete-cluster:
    if: always() && needs.create-cluster.result == 'success'
    needs: [create-cluster, test]
    uses: ./.github/workflows/dsql-cluster-delete.yml
    with:
      cluster-id: ${{ needs.create-cluster.outputs.cluster-id }}
      region: ${{ needs.create-cluster.outputs.region }}
    secrets:
      AWS_IAM_ROLE: ${{ secrets.JAVA_IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
