name: Python Psycopg3 integration tests

permissions: {}

on:
  push:
    branches: [ main ]
    paths:
      - 'python/psycopg/**'
      - '.github/workflows/python-psycopg3-integ-tests.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'python/psycopg/**'
      - '.github/workflows/python-psycopg3-integ-tests.yml'
  workflow_dispatch:

jobs:
  create-cluster:
    uses: ./.github/workflows/dsql-cluster-create.yml
    with:
      workflow_name: python-psycopg3
    secrets:
      AWS_IAM_ROLE: ${{ secrets.PYTHON_IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials

  python-psycopg3-integ-test:
    needs: create-cluster
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Cache pip packages
      uses: actions/cache@v5
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ secrets.PYTHON_IAM_ROLE }}
        aws-region: ${{ needs.create-cluster.outputs.region }}

    - name: Configure and run integration for psycopg3 - admin
      working-directory: ./python/psycopg
      env:
        CLUSTER_USER: "admin"
        CLUSTER_ENDPOINT: ${{ needs.create-cluster.outputs.cluster-endpoint }}
        REGION: ${{ needs.create-cluster.outputs.region }}
      run: |
        python3 -m venv .venv
        source .venv/bin/activate
        pip install --upgrade pip
        pip install --force-reinstall -r requirements.txt
        python3 -c "import boto3; print(boto3.__version__)"
        pip list
        echo "$GITHUB_WORKSPACE" >> $GITHUB_PATH
        wget https://www.amazontrust.com/repository/AmazonRootCA1.pem -O root.pem
        pytest

  delete-cluster:
    if: always() && needs.create-cluster.result == 'success'
    needs: [create-cluster, python-psycopg3-integ-test]
    uses: ./.github/workflows/dsql-cluster-delete.yml
    with:
      cluster-id: ${{ needs.create-cluster.outputs.cluster-id }}
      region: ${{ needs.create-cluster.outputs.region }}
    secrets:
      AWS_IAM_ROLE: ${{ secrets.PYTHON_IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
