name: Rust SDK cluster management integration tests

permissions: {}

on:
  push:
    branches: [ main ]
    paths:
      - 'rust/cluster_management/**'
      - '.github/workflows/rust-cm-integ-tests.yml'
      - '.github/workflows/clean-clusters.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'rust/cluster_management/**'
      - '.github/workflows/rust-cm-integ-tests.yml'
      - '.github/workflows/clean-clusters.yml'
  # Give us a button to allow running the workflow on demand for testing.
  workflow_dispatch:
    inputs:
      tags:
        description: 'Manual Workflow Run'
        required: false
        type: string

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        run: rustup update

      - name: Check formatting
        working-directory: ./rust/cluster_management
        run: |
          rustup component add rustfmt
          cargo fmt -- --check

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
    concurrency:
      # Ensure only 1 job mutates clusters in this account at a time.
      group: ${{ github.workflow }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        run: rustup update

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.RUST_IAM_ROLE }}
          aws-region: us-east-1

      - name: Configure and run integration for cluster management
        working-directory: ./rust/cluster_management
        run: |
          cargo test -- --nocapture

  cleanup:
    if: always()
    needs: test
    uses: ./.github/workflows/clean-clusters.yml
    with:
      aws_region: 'us-east-1'
    secrets:
      AWS_IAM_ROLE: ${{ secrets.RUST_IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
    concurrency:
      # Ensure only 1 job mutates clusters in this account at a time.
      group: ${{ github.workflow }}
