name: TypeScript Sequelize integration tests

permissions: {}

on:
  workflow_call: {}
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  create-cluster:
    uses: ./.github/workflows/dsql-cluster-create.yml
    with:
      workflow_name: typescript-sequelize
    secrets:
      AWS_IAM_ROLE: ${{ secrets.TYPESCRIPT_IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials

  sequelize-integ-test:
    needs: create-cluster
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: '18.x'

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v6
      with:
        role-to-assume: ${{ secrets.TYPESCRIPT_IAM_ROLE }}
        aws-region: ${{ needs.create-cluster.outputs.region }}

    - name: Configure and run integration for Sequelize
      working-directory: ./typescript/sequelize
      env:
        CLUSTER_ENDPOINT: ${{ needs.create-cluster.outputs.cluster-endpoint }}
        REGION: ${{ needs.create-cluster.outputs.region }}
        CLUSTER_USER: 'admin'
      run: |
        npm ci
        npm run test

  delete-cluster:
    if: always() && needs.create-cluster.result == 'success'
    needs: [create-cluster, sequelize-integ-test]
    uses: ./.github/workflows/dsql-cluster-delete.yml
    with:
      cluster-id: ${{ needs.create-cluster.outputs.cluster-id }}
      region: ${{ needs.create-cluster.outputs.region }}
    secrets:
      AWS_IAM_ROLE: ${{ secrets.TYPESCRIPT_IAM_ROLE }}
    permissions:
      id-token: write # required by aws-actions/configure-aws-credentials
